<div class="container">
    <h2>Service Detail</h2>
    <table class="table centered-align" border="0.001px">
        <tr>
            <th>ID Car Service</th>
            <td>{{ car_service.id }}</td>
        </tr>
        <tr>
            <th>Username Pendaftar</th>
            <td>{{ car_service.user.username }}</td>
        </tr>
        <tr>
            <th>Plat Nomor</th>
            <td>{{ car_service.license_plate }}</td>
        </tr>
        <tr>
            <th>Merek / Tipe Mobil</th>
            <td>{{ car_service.brand }}</td>
        </tr>
        <tr>
            <th>Tanggal Servis</th>
            <td>{{ car_service.service_date }}</td>
        </tr>
        <tr>
            <th>Nama Tukang Servis</th>
            <td>{{ car_service.techinician_name }}</td>
        </tr>
        <tr>
            <th>Nomor Telepon Tukang Servis</th>
            <td>{{ car_service.techinician_phone }}</td>
        </tr>
        <tr>
            <th>Daftar Part Servis</th>
            <td>
                {% for part_to_service in parts_to_service_list %}
                    <p>
                        <strong>Nama Servis Part {{ forloop.counter }}:</strong><br>
                        {{ part_to_service.parts_to_service }}
                    </p>
                    <p>
                        <strong>Foto Servis Part {{ forloop.counter }}:</strong><br>
                        <img src="{{ part_to_service.car_photo.path }}" alt="{{ part_to_service.parts_to_service }} Photo" width="200"><br>
                    </p>
                    <form method="post">
                        {% if part_to_service.is_approved %}
                            Disetujui ✓
                        {% elif part_to_service.is_rejected %}
                            Ditolak X
                        {% endif %}
                    </form>
                    <br>
                    <br>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
<style>
th, td {
    padding: 2px; /* Tambahkan padding ke elemen th dan td */
}

.centered-align {
    text-align: center;
}

html, body {
    background-color: #f8f9fa;
    height: auto;
}

body {
    background-image: linear-gradient(to right, #10b4b1, #c6e8df);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.navbar-custom {
    background-color: #002B5B;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-size: 1.25rem;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
}

.navbar-custom .nav-link {
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #a2a378;
}

.btn-custom {
    background-color: #368aab;
    border-color: #28708f;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #225e83;
    border-color: #164D68;
}

.content-container {
    max-width: 5000px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #146288;
    color: #fff;
}

.question {
    background-color: #c5e5e4;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question label {
    font-size: 16px;
    margin-left: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
</style>