{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>List of Car Services</h2>
    <a href="/technician/dashboard/" class="btn btn-primary mb-3">Back to Dashboard</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>License Plate</th>
                <th>Car Brand</th>
                <th>Parts to Service</th>
                <th>Car Photo</th>
                <th>Created At</th>
                <th>Approval Status</th>
                <th>View Photo</th>
                <th>Generate PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for car_service in car_services %}
            <tr>
                <td>{{ car_service.id }}</td>
                <td>{{ car_service.license_plate }}</td>
                <td>{{ car_service.brand }}</td>
                <td>{{ car_service.parts_to_service }}</td>
                <td>
                    <img src="{{ car_service.car_photo.url }}" alt="{{ car_service.license_plate }} Photo" width="100">
                </td>
                <td>{{ car_service.created_at }}</td>
                <td>{{ car_service.is_approved }}</td>
                <td>
                    <a href="{{ car_service.car_photo.url }}" target="_blank" class="btn btn-info">View Photo</a>
                </td>
                <td>
                    {% if car_service.is_approved %}
                        <a href="{% url 'technician:generate_pdf' car_service.id %}" class="btn btn-success">Generate PDF</a>
                    {% else %}
                        Belum ter-approve
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
